/** ------ table 정렬을 위한 class start ------ */
.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
.text_left {
  text-align: left;
}
/** ------ table 정렬을 위한 class end ------ */

/** datepicker style custom */
.react-datepicker__tab-loop {
  display: ruby;
}
